<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native"  xmlns:ios="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    <interface>
        {% for interface in interfaces %}
        {% if interface.is_loopback %}
        <Loopback>
        {% else %}
        <GigabitEthernet>
        {% endif %}
            <name>{{ interface.name }}</name>
            <description>{{ interface.description }}</description>
            <ip>
                <address>
                    <primary>
                        <address>{{ interface.ip }}</address>
                        <mask>{{ interface.mask }}</mask>
                    </primary>
                </address>
            </ip>
            {% if interface.auto_negotiation %}
            <negotiation>
                <auto>{{ interface.auto_negotiation }}</auto>
            </negotiation>
            {% endif %}
        {% if interface.is_loopback %}
        </Loopback>
        {% else %}
        </GigabitEthernet>
        {% endif %}
        {% endfor %}
    </interface>
    <router>
        {% if ospf %}
        <ospf xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-ospf">
            <id>{{ ospf.process }}</id>
            <router-id>{{ ospf.router_id }}</router-id>
            {% if ospf.passive_interfaces %}
            <passive-interface>
            {% for interface in ospf.passive_interfaces %}
                <interface>{{ interface }}</interface>
            {% endfor %}
            </passive-interface>
            {% endif%}
            {% for network in ospf.networks %}
            <network>
                <ip>{{ network.network }}</ip>
                <mask>{{ network.mask }}</mask>
                <area>{{ network.area }}</area>
            </network>
            {% endfor %}
        </ospf>
        {% endif %}
        {% if bgp %}
        <bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp">
            <id>{{ bgp.as_number }}</id>
            <bgp>
                <log-neighbor-changes/>
            </bgp>
            {% for neighbor in bgp.neighbors %}
            <neighbor>
                <id>{{ neighbor.id }}</id>
                <remote-as>{{ neighbor.remote_asn }}</remote-as>
                <ebgp-multihop>
                    <max-hop>{{ neighbor.max_hops }}</max-hop>
                </ebgp-multihop>
                {% if neighbor.update_source %}
                <update-source>
                    <Loopback>{{ neighbor.update_source }}</Loopback>
                </update-source>
                {% endif %}
            </neighbor>
            {% endfor %}
            <network>
                <number>{{ bgp.network_ip }}</number>
            </network>
        </bgp>
        {% endif %}
    </router>
</native>