<bgp xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp"  xmlns:ios-bgp="http://cisco.com/ns/yang/Cisco-IOS-XE-bgp"  xmlns:ios="http://cisco.com/ns/yang/Cisco-IOS-XE-native">>
    <id>{{ as_number }}</id>
    <bgp>
        <log-neighbor-changes/>
    </bgp>
    {% for neighbor in neighbors %}
    <neighbor>
        <id>{{ neighbor.id }}</id>
        <remote-as>{{ neighbor.remote_asn }}</remote-as>
        <ebgp-multihop>
            <max-hop>{{ neighbor.max_hops }}</max-hop>
        </ebgp-multihop>
        {% if neighbor.update_source %}
        <update-source>
            <Loopback>{{ neighbor.update_source }}</Loopback>
        </update-source>
        {% endif %}
    </neighbor>
    {% endfor %}
    <network>
        <number>{{ network_ip }}</number>
    </network>
</bgp>