<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native"  xmlns:ios="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    {% for item in Interfaces.iteritems() %}
        {% for value in item %}
        {% if {{value.is_loopback}} %}
        <Loopback>
        {% else %}
        <GigabitEthernet>
        {% endif %}
            <name>{{ value.name }}</name>
            <description>{{ value.description }}</description>
            <ip>
                <address>
                    <primary>
                        <address>{{ value.ip }}</address>
                        <mask>{{ value.mask }}</mask>
                    </primary>
                </address>
            </ip>
        {% if {{value.is_loopback}} %}
        </Loopback>
        {% else %}
        </GigabitEthernet>
        {% endif %}
        {% endfor %}
       {% endfor %}
</native>

