<interface xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native"  xmlns:ios="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
    {% if is_loopback %}
    <Loopback>
    {% else %}
    <GigabitEthernet>
    {% endif %}
        <name>{{ name }}</name>
        <description>{{ description }}</description>
        <ip>
            <address>
                <primary>
                    <address>{{ ip }}</address>
                    <mask>{{ mask }}</mask>
                </primary>
            </address>
        </ip>
        {% if auto_negotiation %}
        <negotiation>
            <auto>{{ auto_negotiation }}</auto>
        </negotiation>
        {% endif %}
    {% if is_loopback %}
    </Loopback>
    {% else %}
    </GigabitEthernet>
    {% endif %}
</interface>